.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
	color: #000000;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #adadad;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#cut-data {
	font-family: monospace;
}

.custom-js-button {
	display: inline-block;
	margin-top: 4px;
	margin-left: 5px;
	margin-right: 5px;
}

.touchable_PlayerControls--control-element_nfp-popup-control {
    display: inline-block;
	margin-top: 4px;
	margin-left: 10px;
	margin-right: 10px;
    z-index: 1000;
    position: absolute;
}

.btn {
    fontSize:12px;
    color:black;
    text-align: center;
    background-color: #EEEEEE;
    margin-top: 4px;
	margin-left: 5px;
	margin-right: 5px;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    cursor: pointer;   
}

.btn:hover {
  background-color: #d4e4f7; 
  border-top: 1px solid #afe4ff;
  border-right: 1px solid #afe4ff;
  border-bottom: 1px solid #afe4ff;
  border-left: 1px solid #afe4ff;
}